.app {
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 200px;
    padding-top: 130px;
    background-color: #fbfbfb;
}

.heading_container {
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: #3f3f3f;
}

.card_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.card_container button {
    width: 20px;
    height: 20px;
    z-index: 10000;
    margin: 0 10px;
}

.testimonials_container {
    width: 730px;
    overflow: hidden;
}

.testimonials {
    display: flex;
    width: 730px;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.testimonial {
    background-color: #fff;
    min-width: 650px;
    padding: 20px;
    border-radius: 15px;
    margin: 0 20px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #e9e9e9;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.name {
    margin-top: 5px;
    font-size: 25px;
    font-weight: 600;
    color: #474747;
}

.content {
    text-align: justify;
    font-size: 16px;
    color: #878787;
    margin-top: 10px;
    font-weight: 600;
}